h1.clicked {
    color: darksalmon;
}
.hide{
    display: none;
img.logo {
    transition:1s; 
    position: absolute;
       opacity:0%;
    left: 50%;
    top: 50%;
    width: 128px;
    height: 128px;
    margin-left: -64px;
    margin-top: -64px;
}